{% extends 'blog/basic.html' %}
{% load static%}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'blog/index.css'%}"> 
{% endblock %}
{% block body %}
<div class="container my-5">
	<div class="image">
	<img src="/media/{{blog.image}}" style="width: 70%; height: 450px; margin-top: 50px; display: block; margin: auto;">
</div>
<h1 style="text-align : center;">{{blog.title}}</h1>
<br>
<div style="text-align: right; opacity: 0.8;">{{blog.pub_date}}</div>
<hr style="background-color: #FF9224;">
{{blog.content}}
</div>
{% endblock %}