
{% load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/login.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <br>
    <br>
<div class="box-form">
    <div class="left">
        <div class="overlay">
        <h1>Register</h1>
        
        </div>
    </div>
    
    
        <div class="right">
        <br><br>
               <br><br><br>
                {% if message %}
            <div style="color: red">{{ message }}</div>
            {% endif %}

         <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required >
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <button type="submit">Submit</button>

    </form>
Already have an account? <a href="{% url 'login' %}" style="color: #FF9224;">Log In here.</a>

</div>

</body>
</html>

